
/* entire body*/
.wrapper{
	/*min-width: 480px;*/
}
body {
	font-family: arial;
}

/**************top bar***************/
.top-bar {
	float: right;
	font-weight: bolder;
	font-size: 13px;
	margin: 3px;
	margin: 3px\9;
	*margin: 3px;
	line-height: 30px;
}
.top-bar > a {
	color: black;
	margin: 0px 7px;
	position: relative;
	z-index: 100;
}
/**************** top bar end*********************/

/***************setting context menu*************/
#setting-menu {
	position: absolute;
	padding: 0;
	border: solid 1px #CDCDCD;
	right: 82px;
	width: 70px;
	box-shadow: 1px 1px 4px 1px #DDDDDD;
	z-index: 1000;
	cursor: pointer;
}
#setting-menu > div {
	padding: 1px 8px;
	font-weight: normal;
	line-height: 25px;
}
#setting-menu div:hover {
	background: #3385FF;
	color: ghostwhite;
}
#setting-menu .arrow-up {
	position: absolute;
	height: 0px;
	width: 0px;
	padding: 0;
	margin: 0;
	border: solid 5px transparent;
	border-bottom: solid 5px #CDCDCD;
	left: 50%;
	margin-left: -5px;
	top: -10px;
}
#setting-menu .arrow-up div {
	position: absolute;
	height: 0px;
	width: 0px;
	border: solid 5px transparent;
	border-bottom: solid 5px white;
	top: -4px;
	left: -5px;
}
/***************setting context menu end*************/

/***************More product link*************/
a#more_prod {
	background: #317EF3;
	color: white;
	font-weight: bolder;
	display: inline-block;
	height: 28px;
	width: 70px;
	text-align: center;
	text-decoration: none;
	transition: background 0.5s, color 0.5s;
}
a#more_prod:hover {
	background: transparent;
	color: black;
}
/***************More product link end*************/

/***************More product context list*************/
#more_prod_list {
	position: absolute;
	top: 0px;
	right: 0;
	width: 100px;
	height: 100%;
	z-index: 10;
	border-left: solid 1px #eee;
	text-align: center;
	padding-top: 46px;
	background: #fafafa;
	display: none;
}
#more_prod_list:hover {} #more_prod_list .pd-icon {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 38px;
	height: 36px;
	/*margin-left: 20px;*/
}
#more_prod_list section {
	position: relative;
	margin: 7px auto;
	width: 70px;
	border-bottom: solid 1px #eee;
	cursor: pointer;
}
.icon-1 {
	background: url(../img/bdbri_icons_2e35e84b.png) no-repeat transparent;
	background-position: -72px 0;
}
.icon-2 {
	background: url(../img/bdbri_icons_2e35e84b.png) no-repeat transparent;
	background-position: -111px 0;
}
.icon-3 {
	background: url(../img/bdbri_icons_2e35e84b.png) no-repeat transparent;
	background-position: -36px 0;
}
.icon-4 {
	background: url(../img/bdbri_icons_2e35e84b.png) no-repeat transparent;
	background-position: -144px 0;
}
.icon-5 {
	background: url(../img/bdbri_icons_2e35e84b.png) no-repeat transparent;
	background-position: -180px 0;
}
.icon-6 {
	background: url(../img/bdbri_icons_2e35e84b.png) no-repeat transparent;
	background-position: -218px 0;
}
#more_prod_list .pd-name {
	color: gray;
}
/***************More product context list end*************/

/***************Main content*************/
.content {
	clear: both;
	text-align: center;
}
.logo {
	margin-bottom: 30px;
} 
.search-form {
	position: relative;
	margin: auto;
}
/***************Search box frame*************/
.search-frame {
	border: solid 1px #ccc;
	width: 500px;
	height: 36px;
	display: inline-block;
	position: relative;
	text-align: left;
}
.search-frame:focus {
	border-color: #3385FF;
}
.search-frame .mic-icon {
	height: 27px;
	width: 25px;
	display: block;
	position: absolute;
	right: 0;
	margin: 4px;
	background: url(../img/mic.png);
	background-size: 25px 25px;
	/*vertical-align: middle;*/
	cursor: pointer;
}
.search-frame .mic-icon:hover {
	background: url(../img/mic_blue.png);
	background-size: 25px 25px;
}
/***************Search box frame end*************/
/*.search-frame img{
	vertical-align: middle;
}*/
/***************Search box *************/
#search-box {
	width: 100%;
	height: 30px;
	position: absolute;
	border: 0;
	margin: 0;
	padding: 2px 30px 2px 5px;
	font-size: 14px;
}
#search-box:focus {
	outline: none;
}
#search-btn {
	width: 100px;
	height: 36px;
	margin: 0;
	border: solid 1px #3385FF;
	vertical-align: top;
	font-size: 16px;
	color: white;
	background: #3385ff;
}

#search-btn:hover {
	background: #317ef3;
	cursor: pointer;
}


/***************Search box end*************/
/***************Main content end*************/

/***************footer *************/
.footer {
	width: 100%;
	text-align: center;
	position: relative;
	top: 280px;
	font-size: 13px;
	display: block;
	margin: auto;
	
}
.footer > .line1 {
	margin: 5px 0;
}
.line1 a {
	margin: 0 5px;
}
.line1 a:visited {
	color: blue;
}
.footer > div:nth-child(2) {
	color: gray;
}
.gray-a {
	color: gray;
}
.gray-a:visited {
	color: gray;
}
.footer .an-icon {
	height: 20px;
	width: 20px;
	background: url(../img/icons_45de3f02.png) -600px -93px no-repeat;
	/*background-size: 750px 260px;*/
	
	background-position: -600px -93px;
	display: inline-block;
}
/***************footer end *************/


/*************** responsive *************/
	.mobile-visible{
		display: none;
	}
	
/*************** width <= 640px *************/
@media only screen and (max-width: 640px) {
	.search-form {
		width: 420px;
		
	}
	.search-frame{
		width: 300px;
		text-align: left;
		border: solid 1px #ccc;
	}
	#search-btn{
		width: 90px;
		    background: #ececec;
		    border: solid 1px #CCCCCC;;
		    color: #00008B;
	}
}
/*************** width <= 640px end*************/
/*************** width <= 480px *************/	
@media only screen and (max-width: 480px) {
	.top-bar{
		visibility: hidden;
	}
	.mobile-visible{
		display: block;
		width: 420px;
	}
/*************** mobile nav *************/	
	.nav-menu{
		display: block;
		width: 40px;
		height: 24px;
	}
	.nav-news:before{
		content: '\e672';
	    color: #777;
	    font: 24px/1 icons;
	}
	.nav-novel:before{
		content: '\e676';
	    color: #777;
	    font: 24px/1 icons;
	}
	.nav-video:before{
		content: '\e66f';
	    color: #777;
	    font: 24px/1 icons;
	}
	.nav-life:before{
		content: '\e730';
	    color: #777;
	    font: 24px/1 icons;
	}
	.nav-map:before{
		content: '\e66c';
	    color: #777;
	    font: 24px/1 icons;
	}
	.nav-more:before{
		content: '\e674';
	    color: #777;
	    font: 24px/1 icons;
	}
/*************** mobile nav end *************/
	.panel-border{
		border: solid 1px #EEEEEE;
	}
	
	.panel-body{
		padding-top: 0;
		padding-bottom: 0;
	}
	.panel-heading{
		
	}
	.panel-body label{
		display: block;
		margin: 10px 0;
	}
	.nav-ico:before{
		content: '\e609';
	    color: #6fb5e9;
	    font: 18px/1 icons;
	}
	.icon-add{
		display: block;
		font-family: icons;
    		font-style: normal;
        font-size: 24px;
    		color: #B6B7BA;
    		position: relative;
    		top: -5px;
	}
	.icon-edit{
		/*position: absolute;*/
		width: 40px;
    		height: 34px;
    		top:-5px;
    		/*left: 0;*/
	}
	.icon-edit:before{
		content: '\e650';
	    color: #b6b7ba;
	    font: 20px/34px icons;
	}
	.icon-news:before{
		content: '\e610';
    		color: #7db164;
    		font: 18px/1 icons;
	}
	.head-right{
		height: 20px;
		width: 20px;
		float: right;
	}
	
}
/*************** width <= 480px end *************/

/*************** iphone6 6s *************/
@media only screen and (max-device-width: 414px) {
	.wrapper{
		width: 100%;
	}
	.search-form {
		width: 100%;
		
	}
	#search-btn{
		width: 28.125%;  /*90*/
	}
	.search-frame{
		width: 68.75%;   /*22*/
	}
	.mobile-visible{
		display: block;
		width: 96%;  /*300*/
	}
	.mobile-visible .row{
		margin-bottom: 20px;
	}
	
	.panel-border{
		width: 100%;
		position: relative;
		/*left: -15px;*/
	}
	
	.nav-menu{
		width: 40px;
	}
	
	.panel-body label{
		font-size: 12px;
		margin: 0;
	}
	.panel-heading{
		padding-bottom: 0;
	}
	.col-xs-2{
		padding: 0 5px;
	}
}

@media only screen and (max-device-width: 320px) {
	.mobile-visible{
		display: block;
		width: 300px; 
	}
	.panel-border{
		width: 300px;
		position: relative;
		left: -15px;
	}
}
/*************** responsive end *************/


