
<% news.forEach((line) => {)%>
<div class="thumbnail">
    <img src="img/ac4bd11373f08202a83152344cfbfbedab641b1e.jpg" />
    <div class="desc-line">
        asdfsdafsdafasdf
        <span class="like">
            1234
        </span>
    </div>
</div>
<% })%>
