
<%%>
<div class="news-line">
    <img src="<%%>" />
    <div>
        <h5>dsdsfffffdfdfsfsdfsdfdsfsdfdsfsdfsd</h5>
        <p>dsfd</p>
        <span class="date">asdfasd</span>
    </div>
    <label class="label label-danger">abc</label>
</div>