<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
  <!-- build:css stylesheets/index.all.min.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <!-- endbower -->
  <!-- endbuild -->
</head>
<body>
<div class="wrapper">
  <header>
    <div class="top-bar">
      <div class="container-fluid">
        <span class="icon-btn btn-baidu"></span>
        <span class="icon-btn btn-userhome"></span>
        <span class="icon-btn btn-subscribe"></span>
        <span class="icon-btn btn-search"></span>
      </div>
    </div>
    <div class="nav-bar">
      <div class="container-fluid">

        <ul id='nav-menu' class="nav nav-tabs">
          <li class="active"><a href="#recommand">推荐</a></li>
          <li><a href="#news">百家</a></li>
          <li><a href="#local">黄浦区</a></li>
          <li><a href="#image">图片</a></li>
          <li><a href="#entertainment">娱乐</a></li>
          <li><a href="#">装饰</a></li>
          <li><a href="#">装饰</a></li>
          <li><a href="#">装饰</a></li>
          <li><a href="#">装饰</a></li>
          <li><a href="#">装饰</a></li>
          <li><a href="#">装饰</a></li>
        </ul>
      </div>
    </div>
  </header>
  <article>
    <div class="tab-content">
      <div id="recommand" class="tab-pane fade in active">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <!--<ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>-->

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="img/1.jpeg" alt="Chania">
              <div class="img-title">锄禾日当午</div>
            </div>
            <div class="item">
              <img src="img/2.jpeg" alt="Chania">
              <div class="img-title">汗滴禾下土</div>
            </div>
            <div class="item">
              <img src="img/3.jpeg" alt="Flower">
              <div class="img-title">谁知盘中餐</div>
            </div>
            <div class="item">
              <img src="img/4.png" alt="Flower">
              <div class="img-title">粒粒皆辛苦</div>
            </div>

          </div>

        </div>
        <div class="hot">
          <span class="hot-lbl">热点</span>
          <ul>
            <li>五大航空公司声明 ></li>
            <li>山东平邑矿工获救 ></li>
            <li>2.5天休假模式 ></li>
            <li>李克强 新型城镇化 ></li>
            <li>春运百态 ></li>
            <li>五大航空公司声明 ></li>
          </ul>
        </div>
        <div class="news-content">
          <div class="news-line">
            <div class="text-news-img">
              <img src="img/ac4bd11373f08202a83152344cfbfbedab641b1e.jpg" />
            </div>
            <div>
              <h5>习大大发表重要讲话</h5>
              <p>坚定不移的实现社会的发展</p>
              <span class="date">2016-01-30</span>
            </div>
            <label class="label label-danger">abc</label>
          </div>
        </div>

      </div>  <!--recommand tab end-->

      <div id="news" class="tab-pane fade">
        <div class="news-content">

        </div>

      </div>
      <div id="local" class="tab-pane fade">
        <div id="carousel-local" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="img/1.jpeg" alt="Chania">
              <div class="img-title">恭喜发财</div>
            </div>
            <div class="item">
              <img src="img/2.jpeg" alt="Chania">
              <div class="img-title">长命百岁</div>
            </div>
            <div class="item">
              <img src="img/3.jpeg" alt="Flower">
              <div class="img-title">多福多寿</div>
            </div>

          </div>
        </div>   <!--carousel-local end-->
        <div class="news-content">
        </div>
      </div>
      <div id="image" class="tab-pane fade">
        <div class="image-content">

        </div>
      </div>
      <div id="entertainment" class="tab-pane fade">
        <div class="news-content">
          <div class="header-img">
            <img src="http://timg01.baidu-img.cn/timg?tc&size=b760_428&sec=0&quality=100&cut_x=47&cut_y=0&cut_h=0&cut_w=760&di=92d5773a245e202322034dfe1eb4674b&src=http%3A%2F%2Fb.hiphotos.baidu.com%2Fnews%2Fcrop%253D15%252C28%252C856%252C428%2Fsign%3D933fd030def9d72a032b4a5de91b1d18%2Fdbb44aed2e738bd43a6f063ea68b87d6277ff977.jpg" />
            <div class="img-title">dsfsdfsdfsdfdsf</div>
          </div>
          <div class="hot">
            <span class="hot-lbl">热点</span>
            <ul>
              <li>五大航空公司声明 ></li>
              <li>山东平邑矿工获救 ></li>
              <li>2.5天休假模式 ></li>
              <li>李克强 新型城镇化 ></li>
              <li>春运百态 ></li>
              <li>五大航空公司声明 ></li>
            </ul>
          </div>

        </div>
      </div>  <!--entertainment tab end-->
      <div id="seciety" class="tab-pane fade">
        <div class="news-content">
          <div class="hot">
            <span class="hot-lbl">热点</span>
            <ul>
              <li>五大航空公司声明 ></li>
              <li>山东平邑矿工获救 ></li>
              <li>2.5天休假模式 ></li>
              <li>李克强 新型城镇化 ></li>
              <li>春运百态 ></li>
              <li>五大航空公司声明 ></li>
            </ul>
          </div>
          <div class="news-line">
            <div>
              <h5>dsdsfffffdfdfsfsdfsdfdsfsdfdsfsdfsd</h5>
              <p>dsfd</p>
              <span class="date">asdfasd</span>
            </div>
            <label class="label label-danger">abc</label>
          </div>
          <div class="news-line">
            <div>
              <h5>dsdsfffffdfdfsfsdfsdfdsfsdfdsfsdfsd</h5>
              <p>dsfd</p>
              <span class="date">asdfasd</span>
            </div>
            <label class="label label-danger">abc</label>
          </div>
          <div class="img-news-line">
            <p class="title">news title</p>
            <div class="img"><img src="img/ac4bd11373f08202a83152344cfbfbedab641b1e.jpg" /></div>
            <div class="img"><img src="img/ac4bd11373f08202a83152344cfbfbedab641b1e.jpg" /></div>
            <div class="img"><img src="img/ac4bd11373f08202a83152344cfbfbedab641b1e.jpg" /></div>
            <div class="date">2 days ago</div>
          </div>
        </div>
      </div>
    </div>


    <form id="load-more" class="form">
      <input type="button" class="form-control" value="更多选择更多欢笑" />
    </form>
  </article>

  <footer>
    <div class="item">
      <span class="feedback">意见反馈</span>
    </div>
    <div class="item">
      <span class="app">应用程序</span>
    </div>
    <div class="item">
      <span class="app-download">客户端</span>
    </div>
  </footer>
</div> <!--wrapper end-->

<!-- build:js /javascripts/index.all.min.js -->
<!-- bower:js -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/javascripts/main.js"></script>
<!-- endbower -->
<!-- endbuild -->


</body>
</html>
